.start .wrapper
{
width:80%;
margin:auto;
}
.content.wrapper
{
width:80%;
margin:auto;
}
.Image.wrapper
{
width:80%;
margin:auto;
}
.Info.wrapper
{
width:80%;
margin:auto;
}
.copyright.wrapper
{
width:80%;
margin:auto;
}
.start
{
background-color:black;
height:500px;
}
.content
{
background-color:white;
height:500px;
}
.Image
{
background-color:black;
height:500px;
}
.Info
{
background-color:white;
height:500px;
}
.copyright
{
background-color:grey;
height:50px;
}
